extends layout

block layout-content
    div.View
        h1.Banner Yauhen Hedrevich Test Express
        div.Message
            div.Title
                h3 Making the Best
                h1 Dev For Devs
            span.Details Access the details
        div.NavButtons
            a(href="/user")
                div.NavButton Just dive in!
